.vscode/
.idea/

# MacOS
.DS_Store
*.pem

# Env
.env
.env.*

# Misc
.DS_Store
*.log

# Build
target/
debug/
**/*.rs.bk
*.pdb

# Bazel
bazel-bin/
bazel-integrations/
bazel-out/
bazel-testlogs/
bazel-*/

# We don't expect people to use bazel actively
MODULE.bazel.lock
